<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>I'M A CALCULATOR</title>
  <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/calculator.css">
</head>
<body class="container-fluid">
  <div id="calculatorArea">
    I'm a calculator! Ask me to do some math!
    <% if (op) { %>
      <div id="result">
        <%= num1 + " " + op + " " + num2 + " = " + result %>
      </div>
    <% } %>
  </div>
  <canvas id="q"></canvas>
</body>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/javascripts/calculator.js"></script>
</html>