<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>I'M A CALCULATOR</title>
  <link rel="stylesheet" href="/stylesheets/app.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<body class="container-fluid">
  I'm a calculator! Ask me to do some math!

  <% if (op) { %>
    <%= num1 + " " + op + " " + num2 + " = " + result %>
  <% } %>
</body>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>